.list {
  width: 90vw;
  max-width: 70vw;
  margin: auto;
  padding: 1rem;
  background-color: #050a40;
  border-radius: 12px;
  box-shadow: 0 1px 8px #050a15;
  color: White;
  text-align: center;
}
